h4 {
    text-align: center;
    color: red;
}
.card {
    width: 18rem;
}

#loginbtn {
    width: 100%;
    display: none;
}

#logoutbtn {
    display: none;
}

#loginbox {
    margin-top: 2rem;
    margin-left: 40%;
}

#status {
    margin-top: 1rem;
}